/* Project ------------ */
/* Articles */ 

.p-header__title {
    font-size: 2.8rem;
    padding-top: 9%;
    a{
        color: #707070;
    }
}

.p-search__form {
    &--keyword {
        border: 1px solid #707070;
        border-radius: 1rem;
        background-color: #fff;
        width: 23.5rem;
        height: 4.5rem;
        font-weight: 500;
        margin-top: 9%;
        margin-right: 2.5%;
    }
    &--submit {
        color: #808080;
        border: 1px solid #707070;
        border-radius: 1rem;
        background: linear-gradient(#F2EDE9, #DED8E3);
        cursor: pointer;
        width: 7.6rem;
        height: 4.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        vertical-align: middle;
    }
}

.p-main__top {
    height: 30rem;
    position: relative;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        color: #fff;
        position: absolute;
        top: 42%;
        left: 5.5%;
    }
}

.p-branch__menu {
    width: 100%;
    height: 136rem;
}

.p-container {
    &__left {
        margin: 2rem auto;
        width: 90%;
        height: 65rem;
    }
    &__right {
        margin: 2rem auto;
        width: 90%;
        height: 65rem;
    }
}