/* Project ------------ */
/* Articles */ 

.p-header__title {
    font-size: 2.8rem;
    padding-top: 9%;
    a{
        color: #707070;
    }
}

.p-search__form {
    &--keyword {
        border: 1px solid #707070;
        border-radius: 0.7rem;
        background-color: #fff;
        width: 23.5rem;
        height: 4.5rem;
        font-weight: 500;
        margin-top: 9%;
        margin-right: 2.5%;
    }
    &--submit {
        color: #808080;
        border: 1px solid #707070;
        border-radius: 0.7rem;
        background: linear-gradient(#F2EDE9, #DED8E3);
        cursor: pointer;
        width: 7rem;
        height: 4.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        vertical-align: middle;
    }
}