/* Project ------------ */
/* Comments */ 

@use "../../foundation/mixin";

.p-branch__menu {
    
    .p-container__title {
        font-size: 4rem;
        padding: 16px 0 0 12px;
        @include mixin.font;
        
        a {
            color: #fff;
        }
    }
}