/* Project ------------ */
/* Profile */ 

@use "../../foundation/mixin";

.p-menu__button {
    position: fixed;
    z-index: 10;
    right: 1.5rem;
    top: 1.5rem;

    p {
        font-size: 2rem;
        color: #707070;
    }
}

.p-search__icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;

    &::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 3px;
        width: 2px;
        height: 8px;
        background: currentColor;
        transform: rotate(-45deg);
        top: 10px;
        left: 12px
    }
}

.p-search__form {
    &--keyword {
        border: 1px solid #707070;
        border-radius: 1rem;
        background-color: #fff;
        width: 23.5rem;
        height: 4.5rem;
        font-weight: 500;
        margin-top: 3rem;
        margin-right: 2.5%;
    }
    &--submit {
        color: #808080;
        border: 1px solid #707070;
        border-radius: 1rem;
        background: linear-gradient(#F2EDE9, #DED8E3);
        cursor: pointer;
        width: 7.6rem;
        height: 4.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        vertical-align: middle;
    }
}

.p-sidebar {
    display: none;
    background-color: #FFF7EF;
    color: #707070;
    padding-left: 5rem;

    h2 {
        font-size: 2.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        padding: 2rem 0;
    }

    h3 {
        font-size: 2rem;
        font-weight: bolder;
        padding: 2.5rem 0;
    }

    ul {
        li {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 2.7;
        }
    }
}