/** 
* Layout
* ======================== */
/* Header */ 

.l-header {
    width: 100%;
    height: 21rem;
    text-align: center;
    background-color: #FFF7EF;
    font-family: 'Roboto', sans-serif;
}
