@use "../foundation/mixin";

.l-contents {
    &__left {
        @include mixin.pc{
            width: 80%;
        }
    }
    &__right {
        @include mixin.pc{
            display: flex;
            width: 20%;
            background-color: #F2EDE9;
            height: inherit;
        };

        &.is-open {
            z-index: 200;
            left: 60%;
            width: 40%;
        }
    }
}